.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.butn{
    border-radius: 2em;
    background-color: aqua;
    width: 45%;
}

.rows{
    padding: 10px;
}